<!-- Script Section -->
<!--footer.ejs | Tommy Zhou | 301257934 | October 6th, 2023-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>